body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F0EAD6; /* Cor bege clara para um tom agrícola */
}

header {
    background-color: #4E342E; /* Marrom escuro, que representa a terra fértil */
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav {
    text-align: center;
    padding: 10px;
    background-color: #795548; /* Marrom médio, relacionado ao cultivo */
}

nav a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background-color: #D7C67E; /* Cor de milho ao passar o mouse */
}

.content {
    margin: 20px;
    padding: 20px;
    background-color: #FFF8E1; /* Amarelo claro que remete ao milho */
    border-radius: 8px;
}

h1, h2, h3 {
    text-align: center;
}

.img-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.img-container img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
}

#calendar-countdown {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
    height: 200px;
    background-image: url('https://images.unsplash.com/photo-1591035897812-e485bc2e9f30'); /* Imagem de fundo do calendário */
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    color: rgb(177, 4, 4);
    font-family: 'Fjalla One', sans-serif;
    font-size: 22px;
    animation: fadeInOut 5s infinite alternate;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#countdown {
    font-size: 18px;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4E342E; /* Repete a cor marrom escura */
    color: white;
}
