/* Contêiner de Imagens para Produtos e Produtores */
.img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.img-container img, .product-item img, .producer-item img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombras leves para destacar as imagens */
}

/* Rótulos para Produtos e Produtores */
.product-label, .producer-name {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(78, 52, 46, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    width: 90%;
    max-width: 280px;
}
